@using frontend.Dto
@model List<UserDto>

@{
    ViewData["Title"] = "User Page";
}
<div>
    <div>
        <a href="@Url.Action("Create", "User")" class="btn btn-success">Insert</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            @{
                int num = 1;
            }
            @foreach (var user in Model)
            {
                <tr>
                    <td>@num</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <a href="@Url.Action("Edit", "User", new { Id = user.Id })"
                            class="btn btn-sm btn-primary mr-1">edit</a>
                        <button type="button" onclick="deleteUser('@user.Id')" class="btn btn-sm btn-danger">delete</button>
                    </td>
                </tr>
                num++;
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>

        function deleteUser(id) {
            const sure = confirm("Are u sure?")
            if (!sure) return;

            fetch("@Url.Action("Delete", "User")/" + id, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(res => {
                window, location.reload();
            }).catch(e => {
                alert(e)
            })
        }

    </script>
}